{% extends 'base.html' %}

{% block content %}

<h2>Formulario</h2>

<div class="card shadow">
<div class="card-body">

<form method="post">
    {% csrf_token %}
    <div class="row">
    <div class="col-12 col-md-6 mb-3">
        {{ form.proyecto.label_tag }}
        {{ form.proyecto }}
    </div>

    <div class="col-12 col-md-6 mb-3">
        {{ form.fecha.label_tag }}
        {{ form.fecha }}
    </div></div>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        {{ form.palabras.label_tag }}
        {{ form.palabras }}
    </div>

    <div class="col-12 col-md-6 mb-3">
        {{ form.comentario.label_tag }}
        {{ form.comentario }}
    </div></div>

    <button type="submit" class="btn btn-success w-100 w-md-auto mb-2">Guardar</button>
    <a href="{% url 'lista' %}" class="btn btn-secondary w-100 w-md-auto mb-2">Cancelar</a>

</form>

</div>
</div>

{% endblock %}